* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    font-family: 'Lobster Two', 'cursive';
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1{
    font-family: 'Lobster Two', 'cursive';
    letter-spacing: 2px;
    margin-bottom: 15px;;
}

.taskCompleted{
    background-color: #e6ebea;
    color: darkgoldenrod;
    font-style: italic;
    text-decoration: line-through;
}

label{
    margin-left: 1em;
    font-weight: bold;
}

table{
    margin-top: 1em;
}

