/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;

  }
  
  .header{
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  }
  .taskComplete{
    text-decoration: line-through; 
  
  }

  body{
    font-family: 'Pathway Gothic One';
    font-size: 25px;
  }
  .neonText{
      position: center;
      text-align: center;
      font-family: 'Pathway Gothic One';
      font-size: 100px;
      color: white;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 2px;
  }
  

  /* Remove margins and padding from the list */
  .displayList {
    margin: 0;
    padding: 0;
  }

 
  /* Style the list items */
  tr th {
    font-family: 'Pathway Gothic One';
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 30px;
    transition: 0.2s;
    color: goldenrod;
    -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: .1px;
    
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  tr th:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  tr th:hover {
    background: #ddd;
  }
  
  
  /* Style the icon.delete buttons */

  .iconImg{
      width: 15px;
      height: 15px;
  }
  .deleteTaskButton:hover {
    background-color: #f44336;
    color: white;
  }

  .iconImg:hover{
    background-color: lightgreen;
    color: white;
  }


  /* Style the header */

  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: groove;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: right;
    font-size: 25px;
    
  }

  .taskIn{
    float: right;
    padding: 10px;
  }
  
  /* Style the "Add" button */
  .addTask {
    padding: 10px;
    width: 25%;
    background: white;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  





